body {
  margin: auto 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: cornsilk;
}

.nav {
  list-style: none;
  height: 50px;
  background-color: cornsilk;
  
}

a {
  color: #000;
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 0px auto;
}

.box {
  padding: 10px 50px 30px 50px;
  justify-content: left;
  background-color: rgb(186, 233, 255);
  border-radius: 8px;
}

.my_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: cornsilk;
}
